<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Hotels.Properties.RoomButtonStyle" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Hotels.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Hotels.TableSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Hotels.Properties.Settings.HotelConnectionString"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Hotel.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <Hotels.Properties.RoomButtonStyle>
            <setting name="roomLive" serializeAs="String">
                <value>255, 128, 0</value>
            </setting>
            <setting name="roomRepair" serializeAs="String">
                <value>Teal</value>
            </setting>
            <setting name="roomResered" serializeAs="String">
                <value>128, 128, 255</value>
            </setting>
            <setting name="roomCleaning" serializeAs="String">
                <value>DodgerBlue</value>
            </setting>
            <setting name="roomEmpty" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="roomNeedClean" serializeAs="String">
                <value>255, 128, 128</value>
            </setting>
        </Hotels.Properties.RoomButtonStyle>
        <Hotels.Properties.Settings>
            <setting name="RoomTypeMax" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="RoomFloorMax" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="roomLive" serializeAs="String">
                <value>255, 128, 0</value>
            </setting>
            <setting name="roomRepair" serializeAs="String">
                <value>Teal</value>
            </setting>
            <setting name="roomReserved" serializeAs="String">
                <value>128, 128, 255</value>
            </setting>
            <setting name="roomCleaning" serializeAs="String">
                <value>DodgerBlue</value>
            </setting>
            <setting name="roomEmpty" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="roomNeedClean" serializeAs="String">
                <value>255, 128, 128</value>
            </setting>
            <setting name="roomTableStyleFull" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="roomButtonSize" serializeAs="String">
                <value>1215, 885</value>
            </setting>
            <setting name="roomButtonFont" serializeAs="String">
                <value>9</value>
            </setting>
            <setting name="roomButtonSizeComboxSelcet" serializeAs="String">
                <value>1215*885</value>
            </setting>
        </Hotels.Properties.Settings>
    </userSettings>
</configuration>